/* 此文件包含所有页面都公用的全局CSS */
* {      /*选择所有元素*/
	box-sizing: border-box;/*边框盒子，简化盒子尺寸*/
}
body {
	margin: 0;
	color: #555;
	background: #fff;
	font-size: 12px;	/*字体大小*/
	line-height: 1.667;		/*行高：1.667em(倍率)，默认1em值为font-size*/
	font-family: "arial, helvetica, sans-serif";	/*字体*/
}
a {
	color: #555;
	text-decoration: none;
}
a:hover {
	color: #f60;
}